html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  color: $black;
  background: $white;
  min-height: 100vh;
  max-width: 100vw;
  font-family: $font;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  text-decoration: none;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}

button,
input,
textarea {
  border: 0;
  outline: 0;
  background: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  padding: 0;
}

select {
  display: none;
}

button,
input[type='submit'] {
  cursor: pointer;
}

address,
i {
  font-style: normal;
}

b,
strong {
  font-weight: 600;
}
