extends ../layout

//- Mixins
include ../mixin/img

//- Variables
block variables
	- var title = 'PUG шаблон';
	- var sidebar = false;
	- var images = "~@/img/pug-logo.png";

block content
	//- section.b-section-main.text-center(style=`background-image: url('${images}')`)
	section.b-section-main.text-center
		h1.__title= title
		+img('webpack-logo.svg','logo','logo section-main__img section-main__img_big')
		img(src=images alt="logo").__img._medium
		br
		img(src="~@/img/sass-logo.png" alt="logo").__img._small
		vue-pug
