<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width">
	<meta name="format-detection" content="telephone=no">
	<title>HTML шаблон</title>
	<!-- webpackIgnore: true -->
	<link rel="shortcut icon" href="/favicon.svg">
</head>

<body>
	<div class="wrapper">
		<header class="header"></header>
		<main class="main">

			<!-- <section class="section-main text-center" style="background-image: url('~@/img/sass-logo.png')"> -->
			<section class="section-main text-center">
				<h1 class="section-main__title">HTML шаблон</h1>
				<img src="~@/img/webpack-logo.svg" alt="logo" class="section-main__img section-main__img_big">
				<vue-html>
			</section>

		</main>
		<footer class="footer"></footer>
	</div>
</body>

</html>
