<!DOCTYPE html>
<html lang="ru-RU">
	{% set title = 'TWIG шаблон' %}

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<meta name="format-detection" content="telephone=no">
		<title>{{ title }}</title>
		<!-- webpackIgnore: true -->
		<link rel="shortcut icon" href="/favicon.svg">
	</head>

	<body>
		<div class="wrapper">
			<header class="header"></header>
			<div class="main-wrapper main-wrapper_no-sidebar">
				<main class="main-content">
					{% set images = "~@/img/pug-logo.png" %}

					<section class="section-main text-center" style="background-image: url('{{ images }}')">
						<h1 class="section-main__title">{{ title }}</h1>
						<img src="~@/img/webpack-logo.svg" alt="logo" class="section-main__img section-main__img_big">
					</section>

				</main>
			</div>
			<footer class="footer"></footer>
		</div>
	</body>

</html>
