//- Variables
- var sidebar = true;
block variables

doctype html
html(lang="ru-RU")

	//- Head
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		meta(name="format-detection" content="telephone=no")
		title= title
		<!-- webpackIgnore: true -->
		link(rel="shortcut icon" href="/favicon.svg")

		block head

	body
		include components/preloader
		.wrapper
			//- Header
			include global/header

			//- Content
			.main-wrapper(class=`${sidebar ? '' : 'main-wrapper_no-sidebar'}`)
				main.main-content
					block content
				if sidebar
					aside.main-sidebar
						block sidebar

			//- Footer
			include global/footer

			//- Endbody
			block endbody
