// Main
@import '@/styles/variables.scss';
@import '@/styles/mixin.scss';

body {
	color: hotpink !important;
}

.section {
	// background-image: url('@/img/webpack-logo.svg');
	width: 100%;
	text-align: center;
	flex-grow: 1;

	@include container;

	&__title {
		font-size: 32px;
	}

	&__img {

		&_big {
			width: 150px;
		}

		&_medium {
			width: 80px;
		}

		&_small {
			width: 50px;
		}
	}
}

.logo {
	display: block;
	margin: 0 auto;
}
